:root {
    --primary-color: black;
    --primary-bg-color: white;
}

body {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
}

td, table {
    border: 2px solid var(--primary-color);
}
